---
import type { Props } from "../../type/sectionHeader";
import { Image } from "astro:assets";

const { type, icon, title } = Astro.props as Props;
---

<div class="relative mb-6 flex items-center justify-between">
  {
    type === "MainSection" ? (
      <h1 class="text-3xl">{title}</h1>
    ) : (
      <h2 class="text-xl">{title}</h2>
    )
  }
</div>
