---
import { NavLinks } from "../navLinks";
import { SocialList } from "../socialList";
import { Logo } from "../logo";
const { pageType } = Astro.props;

interface Props {
  pageType: string;
}
---

<footer class="bg-primary px-[clamp(16px,5%,56px)]">
  <div class="grid gap-y-16 py-16 sm:grid-cols-2 sm:pt-16!">
    <div class="prose-ul:mt-4">
      <Logo />
      <p class="mt-2 flex items-center gap-x-1.5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="1.25em"
          height="1.25em"
          viewBox="0 0 20 20">
          <path
            fill="currentColor"
            d="M3.87 4h13.25C18.37 4 19 4.59 19 5.79v8.42c0 1.19-.63 1.79-1.88 1.79H3.87c-1.25 0-1.88-.6-1.88-1.79V5.79c0-1.2.63-1.79 1.88-1.79m6.62 8.6l6.74-5.53c.24-.2.43-.66.13-1.07c-.29-.41-.82-.42-1.17-.17l-5.7 3.86L4.8 5.83c-.35-.25-.88-.24-1.17.17c-.3.41-.11.87.13 1.07z">
          </path>
        </svg><span class="italic">contact@kenrula.com</span>
      </p>
      <SocialList client:visible />
    </div>
    <NavLinks footer={true} pageType={pageType} />
    <p class="col-span-2 place-self-center">
      <small>Copyright &copy; 2024 - 2025 Ken Rula</small>
    </p>
  </div>
</footer>
