---
import SectionHeader from "../components/sections/sectionHeader.astro";
import type { Props } from "../type/sectionHeader";

const { title, icon } = Astro.props as Props;
---

<SectionHeader type="SubSection" icon={icon} title={title} />
<div class="grid grid-cols-1 gap-y-10">
  <slot />
</div>
