---
import SectionHeader from "../components/sections/sectionHeader.astro";
import type { Props } from "../type/sectionHeader";

const { title, linkText, linkUrl } = Astro.props as Props;
---

<SectionHeader title={title} linkText={linkText} linkUrl={linkUrl} />
<div class="grid grid-cols-1 gap-y-10">
  <slot />
</div>
